@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Inter", sans-serif;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body,
p,
h1,
h2,
h3,
ul,
ol,
button {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body {
    overflow-x: hidden;
}

.row {
    display: flex;
}

.container {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 25px;
}
.d-block {
    display: block;
}

.container2 {
    width: 100%;
    max-width: 1355px;
    margin: 0 auto;
    padding: 0 25px;
}

input {
    outline: none !important;
}

ul,
li {
    list-style-type: none;
}

a {
    text-decoration: none; 
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

/* header */

.header {
    background-color: #EDF8FE;
}

.header-box {
    align-items: center;
    justify-content: space-between;
    padding: 15px 0px;
}

.ul-logo {
    max-height: 80px;
}

.header-buttons__button {
    color: #0985CF;
    border: 1.5px solid #0985CF;
    padding: 5px 8px;
    border-radius: 15px;
    font-weight: 400;
}

.header-buttons__button.left {
    margin-right: 30px;
}

.header-socials {
    align-items: center;
}

.header-socials__search {
    margin-right: 15px;
}

.header-socials__instagram {
    margin-right: 30px;
}

.header-socials__text {
    font-size: 12px;
    color: #0985CF;
    font-weight: 500;
    max-width: 75px;
    margin-right: 8px;
}

.header-socials__market, .header-socials__store {
    margin-right: 8px;
}

.header-socials__login {
    font-size: 16px;
    color: #0985CF;
    font-weight: 400;
    margin-left: 50px;
}

.navigation-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 570px;
    padding: 10px 0;
    margin: 0 auto;
}

.navigation-box__link a {
    font-size: 13px;
    color: #0985CF;
    font-weight: 500;
}

.header-mobile {
    display: none;
    background-color: #F9F8FF;
    padding: 10px 0;
}

.mobile-header {
    justify-content: space-between;
    align-items: center;
}

.notifications img, .user-icon {
    width: 40px;
    display: block;
}

.logo-mobile{
    height: 50px;
    display: block;
}

.rating-img {
    height: 30px;
    display: block;
    margin-right: 12px;
}

/* banner */
.banner {
    background-image: url(img/banner_background.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
}

.banner-box {
    padding: 60px 0;
    margin: 0 auto;
    max-width: 800px;
}

.banner-box__text {
    color: white;
    text-align: center;
    margin-top: 15px;
    font-weight: 500;
    font-size: 30px;
}

.banner-box__question {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 54px;
    font-weight: 800;
    letter-spacing: 2%;
    margin-top: 10px;
}

.banner-box__button {
    padding: 8px 30px;
    border: 1.5px solid #C39926;
    border-radius: 18px;
    background: #F3D990;
    display: block;
    margin: 0 auto;
    font-size: 16px;
    margin-top: 20px;
    box-shadow: inset 0px 2px 4px 0px #FFFFFF;
    transition: all 0.3s ease;
    transform: scale(1);
    animation: pulse 2.5s ease-in-out infinite;
    background: linear-gradient(181deg, rgba(243, 217, 144, 1) 0%, rgba(233, 188, 59, 1) 100%);
    animation: gradientShift 2s ease infinite;
    animation: shadowShift 2s ease infinite;
}

.banner-box__button:hover {
    animation: pulse 1.5s ease-in-out infinite;
}

.banner {
    position: relative;
    animation: fadeIn 1.5s ease-in-out forwards;
}

.banner-billet {
    display: none;
    background-color: #E89DFF;
    padding: 10px 15px;
    max-width: 200px;
    text-transform: uppercase;
    font-weight: 600;
    position: absolute;
    font-size: 14px;
    top: 0;
    right: 0;
    border-radius: 0 0 0 10px;
}

.banner-rating {
    position: absolute;
    left: 25px;
    top: 10px;
    display: none;
}

.banner-rating img {
    max-width: 50px;
}

/* billboard */

.billboard {
    margin-top: 55px;
}

.billboard-mobile {
    display: none;
}

.title-block {
    align-items: center;
}

.waves-icon {
    width: 45px;
    margin-right: 10px;
}

.calendar-icon {
    margin-left: 10px;
}

.title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 28px;
}

.billboard-box {
    margin: 30px 0px 30px;
    display: flex;
}

.photo-box {
    position: relative;
    max-height: 330px;
}

.photo-box img {
    max-height: 330px;
}

.photo-box__date, .photo-box__title {
    position: absolute;
    text-transform: uppercase;
    color: white;
    font-size: 36px;
    font-weight: 700;
    line-height: 101%;
}

.photo-box__date {
    top: 20px;
    right: 15px;
}

.photo-box__title {
    max-width: 260px;
    left: 125px;
    bottom: 20px;
    letter-spacing: 15%;
}

.billboard-box__right {
    background-color: #EAF4FE;
}

.billboard-inner {
    display: flex;
}

.card-date {
    margin-left: 15px;
    margin-top: 15px;
    padding-right: 15px;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);grid-template-rows: repeat(2, 1fr);
}

.card-text {
    color: #A89074;
    font-size: 12px;
    font-weight: 400;
    margin-left: 5px;
}

.tagging-text {
    font-size: 16px;
    color: #0985CF;
    font-weight: 400;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.card-title {
    font-size: 20px;
    color: #0985CF;
    font-weight: 500;
    margin-left: 15px;
}

.card-description {
    font-size: 15px;
    color: #1e1e1e;
    font-weight: 400;
    margin: 10px 10px 10px 15px;
    max-width: 350px;
}

.card-link {
    font-size: 16px;
    color: #0985CF;
    margin-left: 270px;
}

.mini-cards {
    margin-top: 30px;
    margin-left: 15px;
}

.mini-card {
    margin-bottom: 14px;
}

.mini-card__info {
    background-color: #EAF4FE;
    width: 300px;
}

.mini-card__links {
    margin-left: 10px;
    margin-top: 5px;
}

.mini-card__title {
    font-size: 14px;
    color: #0985CF;
    font-weight: 500;
    margin-left: 10px;
    margin-top: 10px;
}

.events-button {
    color: #0985CF;
    border: 1.5px solid #0985CF;
    padding: 7px 10px;
    border-radius: 20px;
    font-weight: 400;
    font-size: 16px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.billboard-mobile__box {
    position: relative;
}

.billboard-billet {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 0 0 10px;
    padding: 5px 10px;
}

.billboard-billet p {
    font-size: 8px;
    text-transform: uppercase;
}

.billboard-rating {
    width: 25px;
    position: absolute;
    top: 7px;
    left: 10px;
}

.billboard-mobile__box__title {
    position: absolute;
    left: 4px;
    bottom: 18px;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    max-width: 90px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

/* quests */

.quests-box {
    margin: 30px 0;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.quest {
    position: relative;
}

.quest-title, .quest-text {
    position: absolute;
    color: white;
}

.quest-title {
    top: 70px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    top: 70px;
}

.quest-text {
    top: 100px;
    font-weight: 400;
    font-size: 18px;
    left: 100px;
}

/* sites */

.sites {
    margin: 60px 0;
}

.sites-box {
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

.site-card {
    cursor: pointer;
    position: relative;
    transition: 0.3s;
    flex: 0 0 auto; 
    width: 309px;
}

.site-card:hover {
    box-shadow: 0px 2px 4px 0px #86ccf5;
}

.sites-card__info {
    background-color: #EAF4FE;
    max-width: 309px;
    height: 215px;
}

.sites-card__title {
    font-size: 18px;
    color: #0178C0;
    margin-left: 15px;
    font-weight: 500;
    padding-top: 15px;
}

.sites-card__text {
    font-size: 13px;
    color: #1e1e1e;
    margin-left: 15px;
    font-weight: 500;
    padding-top: 5px;
    max-width: 270px;
}

.sites-card__subtitle {
    position: absolute;
    bottom: 80px;
    left: 15px;
    font-size: 15px;
    color: #0178C0;
    font-weight: 500;
}

.sites-footer {
    position: absolute;
    bottom: 20px;
    left: 15px;
}

.dowlods-button {
    color: #0985CF;
    border: 1.5px solid #0985CF;
    padding: 7px 18px;
    border-radius: 20px;
    font-weight: 400;
    font-size: 16px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 60px;
}

/* partners */

.partners {
    margin-top: 60px;
}

.partners-box {
    margin: 30px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.partner img {
    display: block;
    margin: auto;
}

.partner p {
    text-transform: uppercase;
    text-align: center;
    max-width: 190px;
    font-size: 12px;
    line-height: 16px;
    display: block;
    margin: auto;
    margin-top: 10px;
}

/* footer */

.footer {
    margin-top: 90px;
    width: 100%;
    height: 342px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: url("img/footer-bg.jpg") no-repeat;
    background-size: 100% auto;
    background-position: top left;
    background-color: #0065A2;
}

.footer-box {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-logo__text {
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #F8F8FE;
    max-width: 130px;
}

.footer-buttons__button {
    color: #F8F8FE;
    border: 1.5px solid #F8F8FE;
    padding: 5px 8px;
    border-radius: 15px;
    font-weight: 400;
    display: block;
}

.footer-nav__link {
    margin-bottom: 15px;
}

.footer-nav__link a {
    color: #F8F8FE;
}

.footer-mobile {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    border-top: 1px solid #e0e0e0; /* Серая граница 1px */
    z-index: 1000; /* Убедитесь, что футер поверх других элементов */
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.05);
}

.footer-mobile__navs {
    align-items: center;
    justify-content: space-between;
}

.footer-mobile__nav img {
    width: 50px;
}

.footer-mobile__nav p {
    font-size: 14px;
    font-weight: 400;
    color: #1e1e1e;
    margin-top: 4px;
    text-align: center;
}